/* Buttons */

button{
    font-size: 1.2rem;
}
.btns {
  gap: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem;
}
.btn {
  background-color: var(--primary-color);
  color: var(--white);
  border-radius: 1rem;
  padding: 0.5rem;
}

.btn:hover{
    background-color: var(--primary-color);
    color:var(--secondary-color);
}

.btn-secondary {
  background-color: var(--secondary-color);
  border: 0.2rem solid var(--primary-color);
  margin: 0.5rem;
}

.btn-link {
  background-color: var(--secondary-color);
  border: 0.2rem solid var(--primary-color);
  
}


.btn-text{
    color:var(--white);
}
.btn-icon {
  background-color: var(--secondary-color);
  border: 0.2rem solid var(--primary-color);
  margin: 0.5rem;
  padding: 0.5rem;
}
.fa {
  margin: 0.3rem;
}

.btn-float {
  background-color: var(--secondary-color);
  border: 0.2rem solid var(--primary-color);
  margin: 0.5rem;
  padding: 1rem;
  border-radius: 50%;
}
