<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LIT UI | Components</title>
    <link
      rel="stylesheet"
      href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="./components-style.css" />
  </head>
  <body>
    <div class="body">
      <header class="header">
        <div class="title">
          <h2>
            <a href="../index.html"> LIT UI</a>
          </h2>
        </div>
        <div class="nav">
          <a href="https://github.com/haarsh24/lit-ui">
            <span>GitHub</span> <i class="fa fa-github fa-2x"></i>
          </a>
        </div>
      </header>
      <div class="components">
        <aside class="drawer">
          <div class="items">
            <div class="item">
              <label for="Inbox" class="item-text"
                ><a href="#cards" class="item-text"> Cards</a>
              </label>
            </div>

            <div class="item">
              <label for="draft"
                ><a href="#buttons" class="item-text"> Buttons</a></label
              >
            </div>

            <div class="item">
              <label for="bookmark" class="item-text">Lists</label>
            </div>
            <div class="item">
              <label for="bookmark" class="item-text">Images</label>
            </div>

            <div class="item">
              <label for="bookmark" class="item-text">Alert</label>
            </div>

            <div class="item">
              <label for="settings" class="item-text">Snackbar</label>
            </div>

            <div class="item">
              <label for="bookmark" class="item-text">Modal</label>
            </div>

            <div class="item">
              <label for="bookmark" class="item-text">Navigation</label>
            </div>
          </div>
        </aside>
        <div class="components-items"></div>
      </div>

      <footer class="footer">
        <h2>
          Designed and Developed with
          <span style="font-size: 2rem">&#128420;</span> by
          <a class="name-tag" href="https://kumarharsh.netlify.app/"> harsh </a>
        </h2>
      </footer>
    </div>
  </body>
</html>
