@import url("https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap");
@import url("./card.css");
@import url("./alerts.css");
@import url("./buttons.css");
@import url("utlis.css");
@import url("./images.css");
@import url("./inputs.css");
@import url("./avatars.css");
@import url("./badges.css");
@import url("./text-utilities.css");
@import url("./lists.css");
@import url("./snackbar.css");

* {
  font-family: "Readex Pro", sans-serif;
  transition: all ease 0.5s;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.body {
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-color);
  color: var(--font-color);
  width: 100%;
}
.header {
  display: flex;
  flex-direction: row;
  padding: 2rem;
  align-items: center;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  /* position: sticky; */
  top: 0;
  width: 100%;
  font-size: 1rem;
}
.title {
  font-size: 2rem;
}

.nav {
  color: var(--primary-color);
  margin-left: auto;
  font-size: 1.5rem;
}

.nav:hover {
  color: var(--red);
}
.footer {
  /* position: fixed; */
  bottom: 0;
  width: 100%;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  padding: 5rem;
  text-align: center;
}
.name-tag {
  text-decoration: none;
  color: var(--font-color);
}
.name-tag:hover {
  font-size: 2rem;
}

.lists {
  position: sticky;
  top: 0;
  right: 0;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* justify-content: flex-start; */
  align-items: flex-start;
  width: 15rem;

  padding: 2rem;
}

.list-item {
  /* position: sticky; */
  display: flex;
  flex-direction: row;
  margin: 0.5rem;
  align-items: center;
  gap: 1.5rem;
  height: 2.5rem;
  font-size: 1.5rem;
  /* scroll-behavior: auto; */
  color: var(--font-color);
}
.item-text:hover {
  font-size: 1.5rem;
  background-color: var(--primary-color);
  padding: 1rem;
  border-radius: 1rem;
  color: var(--secondary-color);
}

.components {
  display: flex;
  flex-direction: row;
}
a {
  text-decoration: none !important;
}
.item-text {
  color: var(--font-color);
}

iframe {
  max-inline-size: 100%;
  block-size: auto;
  overflow-x: scroll;
}

.summary {
  padding: 2rem;
  text-align: center;
  font-size: 1.2rem;
}

.code {
  margin: 2rem 0;
  border-radius: 1rem;
  overflow: hidden;
  align-self: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
