:root {
  --primary-color: #8a2be2;
  --secondary-color: #0b1120;
  --font-color: #637084;
  --white: #fff;
  --font-color-black: #2e3033;
  --card-btn: #1d58db;
  --red: #ff0000;
  --green: #008000;
  --black:#0a0a0a;
  --alert-primary:#a1c7f0;
  --alert-secondary:#9fa1a5;
  --alert-success:#97e4a9;
  --alert-warning:#cbe07f;
  --alert-danger:#f0814e;
}

.flex{
  display: flex;
}